body{
  background-color:#0e1525;
  color: white;

}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input__container{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
}


input{
  outline: none;
  background-color: #1c2333;
  border: 1px solid #333945;
  color: white;
  height: 1.7rem;
  width: 20%;
  padding: 0 .5rem;

}


button{
  background-color: #004182;
  outline: none;
  color: #d8e2ed;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
  
}

.todo__container .todo{
  margin-top: 1.5rem;
  background-color: rgb(110, 12, 115);
  width: 25%;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.todo__container .todo i{
  cursor: pointer;
 }

.todo__container {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}